streamlit
google-generativeai
qdrant-client
PyPDF2
python-dotenv
langchain
langchain-text-splitters
numpy
pandas
sentence-transformers
torch
transformers
pdfplumber
pymupdf
nltk
spacy
rank-bm25
scikit-learn